<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/w3.css" rel="stylesheet" />
    <style>
        header {
            font-style: italic;
            text-align: center;
            color: white;
            max-height: 40px;
        }
        footer {
            font-style: italic;
            text-align: center;
            color: white;
            height: 40px;
        }
        a:hover {
            text-decoration: none;
        }
        #DivLayout {
            padding-bottom: 15px;
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            width: 20%;
            float: left;
        }   
        #DivLayout #img1{
            bottom:1px;
            position:fixed;
            left: 43%;
            right: 43%;
        }
        p {
            font-size: 80%;
            color:white;
        }
    </style>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body id="body">
    <header class="w3-top w3-red w3-xlarge" style="z-index: 1">
        <button class="w3-button w3-red w3-left w3-xlarge" onclick="goBack()"><i class="fa fa-arrow-left"></i></button>
    </header>
    @RenderBody()
<footer class="w3-bottom w3-red w3-text-white" style="border-top:1px solid black;">
    <div id="DivLayout"><a href="~/Customer/Dashboard"><img src="~/Image/HomeIcon.png" width="30"/></a></div>
    <div id="DivLayout"><a href="~/Lover/SearchOnMap"><img src="~/Image/mapIcon.png" width="30" /></a></div>
    <div id="DivLayout"><a id="img1" href="~/Customer/"><img src="~/Image/heartIcon.png" width="60px" /></a></div>
    <div id="DivLayout"><a href="~/Customer/"><img src="~/Image/heartIcon.png" width="30" /></a></div>
    <div id="DivLayout"><a href="~/Customer/"><img src="~/Image/meIcon.png" width="30" /></a></div>
</footer>

    <script>
        function goBack() {
            window.history.back();
        }
        function w3_open() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById('sidebar').style.opacity = "100%";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("mySidebar").style.animate = "right";
            document.getElementById('body').style.opacity = "100%";
        }
    </script>
</body>
</html>