
@{
    ViewBag.Title = "LoverRegisterOne";
    Layout = "~/Views/Shared/Index.cshtml";
    if (TempData["Message"] != null)
    {
        <script>
        window.alert('@Html.Raw(TempData["Message"])');
        </script>
    }
}

<style>
    body{
        background-color:rgba(168,0,0,0.04);
    }
    #ButtonLayout {
        margin-left: 7%;
        border-radius: 20px;
        width: 230px;
        background-color: rgba(255,0,0,0.8);
        padding-left: 20px;
        padding-right: 20px;
        outline: none;
        color: whitesmoke;
        border: 1px solid #ff00074d;
        box-shadow: 0px 3px 5px #ff003b21;
    }

    #FormLayout {
        z-index: 100;
    }
    .w3-input {
        padding: 15px;
        display: block;
        border: none;
        border-bottom: 2.7px solid darkred;
    }
    .w3-border-red {
        border-color: red;
        background-color: rgba(168,0,0,0.06);
        border-radius: 15px 15px 10px 10px;
        outline: none;
        box-shadow: -2px 5px 3px -2px #ff0000d4;
    }
</style>
<form id="FormLayout" action="~/PublicUser/ProcessLoverRegisterOne" method="post">
    <center>
        <input class="w3-input w3-animate-input w3-border-red " placeholder="Name" type="text" name="Name" style="width: 230px;margin-bottom:0px;" required>
        <input class="w3-input w3-animate-input w3-border-red " placeholder="Phone" type="number" name="Phone" style="width: 230px;margin-bottom: 0px;" required>
        <input class="w3-input w3-animate-input w3-border-red " placeholder="Email" type="email" name="Email" style="width: 230px; margin-bottom: 0px;">
        <input class="w3-input w3-animate-input w3-border-red " placeholder="Address" type="text" name="Address" style="width:230px" required><br />
    </center>
    <input id="ButtonLayout" class="w3-input " type="submit" value="Next">
</form>
