@using System.Data;
@using OneFourThree.App_Code;
@{
    ViewBag.Title = "LoverRegisterTwo";
    Layout = "~/Views/Shared/Index.cshtml";
    string Name = TempData["Name"].ToString();
    string Phone = TempData["Phone"].ToString();
    string Email = TempData["Email"].ToString();
    string Address = TempData["Address"].ToString();
    DBFront df = new DBFront();
    DataTable dt = df.getAllByQuery("select * from StateRegion");
}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<style>
    body {
        background-color: rgba(168,0,0,0.04);
    }

    #ButtonLayout {
        margin-left: 7%;
        border-radius: 20px;
        width: 230px;
        background-color: rgba(255,0,0,0.8);
        padding-left: 20px;
        padding-right: 20px;
        outline: none;
        color: whitesmoke;
        border: 1px solid #ff00074d;
        box-shadow: 0px 3px 5px #ff003b21;
    }

    #FormLayout {
        z-index: 100;
    }

    .w3-input {
        padding: 15px;
        display: block;
        border: none;
        border-bottom: 2.7px solid darkred;
    }

    .w3-border-red {
        border-color: red;
        background-color: rgba(168,0,0,0.06);
        border-radius: 15px 15px 10px 10px;
        outline: none;
        box-shadow: -2px 5px 3px -2px #ff0000d4;
    }
</style>
<form id="FormLayout" action="~/PublicUser/ProcessLoverRegisterTwo?Name=@Name&Phone=@Phone&Email=@Email&Address=@Address" method="post">
    <center>
        <input class="w3-input w3-animate-input w3-border-red" placeholder="Height" type="text" name="Height" style="width:200px" required><br>
        <select class="w3-select w3-border-red" name="LoverType" style="width:200px">
            <option value="">Choose Type</option>
            <option value="Slim">Slim</option>
            <option value="Fit">Fit</option>
            <option value="Normal">Normal</option>
            <option value="Fatty">Fatty</option>
            <option value="Ultra Fatty">Ultra Fatty</option>
        </select><br /><br />

        <select class="w3-select w3-border-red" id="mySelect" style="width:200px">
            <option>ကချင်</option>
            <option>ကယား</option>
            <option>ကရင်</option>
            <option>ချင်း</option>
            <option>မွန်</option>
            <option>ရခိုင်</option>
            <option>ရှမ်း</option>
            <option>တနင်းသာရီ</option>
            <option>ရန်ကုန်</option>
            <option>မန္တလေး</option>
            <option>မကွေး</option>
            <option>ပဲခူး</option>
            <option>ဧရာ၀တီ</option>
            <option>စစ်ကိုင်း</option>
        </select><br /><br />
        <select class="w3-select w3-border-red" id="selection" name="TownID" style="width:200px"></select><br /><br /><br />
    </center>
    <input id="ButtonLayout" class="w3-input w3-animate-input" type="submit" value="Next">
</form>
<script>
    window.onload = onloadSelect();
    var select = document.getElementById("selection");
    var town = [];

    function onloadSelect() {
        $.getJSON("https://www.myanmaritstar.co/PublicUser/GetTownByStateRegionID", { StateRegionID: 1 }, function (data) {
            for (x in data) {
                var option = document.createElement("option");
                var val = document.createTextNode(data[x].Element2);
                option.appendChild(val);
                option.setAttribute('value', data[x].Element1);
                select.appendChild(option);
            }
        });
    }
    $("#mySelect").change(function () {

        var index = document.getElementById("mySelect").selectedIndex + 1;
        $.getJSON("https://www.myanmaritstar.co/PublicUser/GetTownByStateRegionID", { StateRegionID: index }, function (data) {
            select.length = 0;
            for (x in data) {
                var option = document.createElement("option");
                var val = document.createTextNode(data[x].Element2);
                option.appendChild(val);
                option.setAttribute('value', data[x].Element1);
                select.appendChild(option);
            }
        });
    });

</script>